body{
    background-color: rgb(203, 178, 178);
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{

    
    cursor: pointer;

}
